<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- 生产者实例-->
	<!-- <bean id="msgProducer" class="com.lvmama.vst.comm.kafka.producer.DefaultMsgProducer" init-method="init" destroy-method="close">
        <property name="bootstrapServers" value="${kafka_bootstrap_servers}"/>
        <property name="sendEnable" value="${kafka.enable}"/>
        <property name="properties">
            <props>
                <prop key="serializer.class" >kafka.serializer.StringEncoder</prop>
                <prop key="request.required.acks">1</prop>
            </props>
        </property>
    </bean> -->
    
     <!-- 产品查询[生产者]，kafka配置 start -->
    <bean id="prodQueryProducer" class="com.lvmama.xcl.comm.kafka.producer.DefaultMsgProducer" init-method="init" destroy-method="close">
        <property name="bootstrapServers" value="${kafka_bootstrap_servers}"/>
        <property name="sendEnable" value="${kafka.enable}"/>
        <property name="properties">
            <props>
                <prop key="serializer.class" >com.lvmama.xcl.prod.query.codec.ProdQueryDocEncoder</prop>
                <prop key="key.serializer.class" >kafka.serializer.StringEncoder</prop>
                <prop key="request.required.acks">1</prop>
            </props>
        </property>
    </bean>
    <bean id="prodQueryProducerProxy" class="com.lvmama.xcl.comm.kafka.producer.SimpleProducterProxy">
        <property name="topic" value="PROD_QUERY" />
        <property name="msgProducer" ref="prodQueryProducer" />
    </bean>
    <!-- 产品查询[生产者]，kafka配置 end -->


    <!-- 产品查询[消费者]：接收子系统消息 start -->
    <bean id="prodQueryProxy" class="com.lvmama.xcl.comm.kafka.consumer.SimpleConsumerProxy" init-method="consume">
        <property name="zookeeperServers" value="${zookeeper_servers}"/>
        <property name="groupId" value="PROD_QUERY"/>
        <property name="topic" value="PROD_QUERY"/>
        <property name="receiveEnable" value="${kafka.enable}"></property>
        <property name="threadSum" value="${kafka.consumer.number}"></property>
        <property name="properties">
            <props>
                <prop key="zookeeper.session.timeout.ms">6000</prop>
            </props>
        </property>
        <property name="msgHandler" ref="prodQueryDocHandler" />
    </bean>
    <!-- 产品查询[消费者]：接收子系统消息 end -->

   

</beans>